<!-- <div class="container pt-5">
  <div class="card mb-5">
    <div class="card-block p-0">
      <table class="table table-bordered table-sm m-0">
        <thead class="head">
          <tr>
            <th>Asset Code</th>
            <th>Cap Date</th>
            <th>Description</th>
            <th>Comapny Code</th>
            <th>Location</th>
            <th>Quantity</th>
            <th>Reassign To</th>
            <th>Status</th>
           
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let list of List ">
            <td>{{list.AssetCode}}</td>
            <td>{{list.CAP_Date}}</td>
            <td>{{list.Description}}</td>
            <td>{{list.CompanyCode}}</td>
            <td>{{list.Location}}</td>
            <td>{{list.Quantity}}</td>
            <td>{{list.ReassignTo}}</td>
            <td>{{list.Status}}</td>           
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div> -->

<div class="jumbotron jumb1 container"><h3 class="head">Employee Details</h3>
  <div class="jumbotron jumb2 container">
    <div class="container">
      <div class="row">
        <ul class=".col-6 .col-sm-3 head1 ">
          <li>Employee:</li>
          <li>OU:</li>
          <li>Role:</li>
          <li>Project Code: </li>
          <li>Band:</li>
           <li> Country:</li> 
        </ul>
        <ul class="head2 ">
            <li>00065481:Ravi Verma</li>
            <li>60023110:In-B&F-SEI</li>
            <li>Analyst</li>
            <li>2727-2 </li>
            <li>4</li>
            <li>India</li>
          </ul>
          <ul class="head3 ">
              <li>Job Order No:</li>
              <li>PA-PSA:</li>
              <li>Designation:</li>
              <li>Project Description: </li>
              <li>Travel Date</li>
              <li>Destination City</li>
            </ul>
            <ul class="head4 ">
                <li>I0063-290</li>
                <li>SEB-Delhi,NYL-Gr,Noida SEZ 2</li>
                <li>Analyst-It Ops Services</li>
                <li>SEI-GTS-SUPPORT-G NOIDA SEZ 2</li>
                <li>20-Sept-2017 </li>
                <li>Bangalore</li>
              </ul>
            </div>
      </div>
  </div>
    </div>