  <div class="container jumbotron">
    <div class="h4 h4-responsive">Request for Asset Handling:
    </div><!--h4 h4-responsive ENDS -->
    <div class="mb-5">
      <div class="card-block">
        <table class="table table-striped table-hover table-definition mb-5 ">
          <thead class="table-inverse">
            <tr class="head">
              <th class="text-color">Asset ID</th>
              <th class="text-color">Asset Code</th>
              <th class="text-color">Description</th>
              <th class="text-color">Asset Of</th>
              <th class="text-color">Quantity</th>
              <th class="text-color">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let notify of mypendingassetrequest">
              <td>{{notify.assetId}}</td>
              <td>{{notify.assetCode}}</td>
              <td>{{notify.description}}</td>
              <td>{{notify.employeeCode}}</td>
              <td>{{notify.quantity}}</td>            
              <td>
                <button type="button" class="btn btn-md btn-success" (click)="accept(notify)" data-toggle="tooltip" data-placement="top" title="Accept This Request">Accept</button>
                <button type="button" class="btn btn-md btn-danger" (click)="reject(notify)" data-toggle="tooltip" data-placement="top" title="Delete This Request">Reject</button>
              </td>
            </tr>
          </tbody>
        </table> 
      </div> <!--card-block ENDS -->
    </div> <!--mb-5 ENDS -->
  </div> <!--container jumbotron ENDS -->
