<div class="back">
  <div class="container-fluid team-section">
                        <!-- First column -->
                        <div class="row headerpad" >
                            <div class="col-md-12 heading" >
                                <div class="row">
                                      <div class="col-md-4 mt-1cover ">
                                          <h4 class="h4-responsive mt-1">H.R. DASHBOARD</h4>
                                      </div>
                                      <div class="col-md-8">
                                              <div class="tabs-wrapper">
                                                      <ul class="nav classic-tabs tabs-primary primary-color" role="tablist">
                                                          <li class="nav-item">
                                                              <a class="nav-link et-hero-tab" data-toggle="tab" href="#panel84" role="tab" aria-expanded="false">Pending Request</a>
                                                             
                                                          </li>
                                                      </ul>
                                                  </div>
                                      </div>
                                </div>
                            </div>
                         </div>   
                            <div class="row">
                                <div class="col-md-12 mb-1">
                                    <!-- Tabs -->
                                    <!-- Tab panels -->
                                    <div class="tab-content card">
                                          <!--Panel 2-->
                                          <div class="tab-pane fade show active" id="panel84" role="tabpanel">
                                              <div class="table-responsive">
                                                  <table class="table">
                                                      <app-hr-viewrequest></app-hr-viewrequest>
                                                    
                                                      
                                                  </table>
                                              </div>
                                          </div>
                                          <!--/.Panel 2-->
                                      </div>
                                    <!-- /.Tabs -->
                                </div>   
                        <!-- /.First column -->
                        <!-- Second column -->
                           </div>
                    </div>
      </div>


   